.DS_Store
.env
*.log

# Flutter
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.packages
frontend/build/

# Go
backend/bin/
backend/tmp/

# IDE
.idea/
.vscode/
